{% if options.enable_slider %}
<section id="slideshow" class="row row-wide">
  {% include 'home_slideshow' %}
</section>
{% endif %}

{% if options.enable_subscribe %}
<!-- Footer Subscribe -->
<section id="footer-subscribe" class="row  row-wide">
  {% include 'footer_subscribe' %}
</section>
<!-- end #footer-subscribe -->
{% endif %}

{% if options.enable_features %}
<section id="features" class="row row-wide text-center">
  <div class="row">
    {% include 'home_features' %}
  </div>
</section>
{% endif %}

{% if options.enable_featured_products %}
  {% if products.featured.size > 0 %}
  <section id="featured-products" class="row row-wide">
    <div class="row">
      {% include 'home_featured_products' %}
    </div>
  </section>
  {% endif %}
{% endif %}

{% if options.enable_home_specs %}
<section id="home-specs" class="row row-wide">
  {% include 'home_specifications' %}
</section>
{% endif %}

{% if options.enable_testimonials %}
<section id="testimonials" class="row row-wide">
  <div class="row">
    {% include 'home_testimonials' %}
  </div>
</section>
{% endif %}


{% if options.enable_home_blog_feed %}
<section id="blog-feed" class="row row-wide">
  <div class="row  row-large">
    {% include 'blog_feed' %}
  </div>
</section>
{% endif %}

