<div class="small-12  columns  cart-coupon__wrapper">
  <div class="row">
    <div class="small-12  medium-6  large-5  columns">
      <h1 class="cart-coupon__title  raleway">{% t "¿Tienes algún cupón de descuento?" %}</h1>
    </div>

    <div class="small-12  medium-6  large-7  columns">
      {{ coupon_form }}
    </div>
  </div>
  <!-- end .row -->
</div>
<!-- end .cart-coupon__wrapper -->