<div class="small-12  columns  show-for-medium  cart-order__heading">
  <div class="row">
    <div class="small-7  columns">
      <span class="cart-order__heading-block-title">{% t "Producto" %}</span>
    </div>

    <div class="small-2  columns  text-center">
      <span class="cart-order__heading-block-title">{% t "Precio" %}</span>
    </div>

    <div class="small-2  columns  text-center  end">
      <span class="cart-order__heading-block-title">{% t "Cant." %}</span>
    </div>
  </div>
  <!-- end .row -->
</div>